@using MvcPaging
@model IPagedList<SI_ccp.Models.MasterAccLowBalanceModel>

@if (Model.Count > 0)
{
    <table class="table table-bordered table-hover">
        <p style="text-align: right;">
            <a href="@Url.Action("MasterAccountLowBalanceCSVlist", "Admin")">
                <img src="~/img/grid/Csv-icon.png" alt="Export to csv" border="0" />
            </a>
        </p>
        <thead>
            <tr>

                <th>
                    Company Name
                </th>
                <th>
                    Contact Person Name
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    Mobile Number
                </th>
                <th>
                    Available Amount ($)
                </th>
                <th>
                    Required Amount ($)
                </th>
                <th>
                    Outstanding Balance ($)
                </th>
                <th>
                    Sales Person
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.company_name
                    </td>
                    <td>
                        @item.contact_person_name
                    </td>
                    <td>
                        @item.email
                    </td>
                    <td>
                        @item.mobile_number
                    </td>
                    <td>
                        @item.available_amount
                    </td>
                    <td>
                        @item.required_amount
                    </td>
                    <td>
                        @item.outstanding_amount
                    </td>
                    <td>
                        @item.salesPerson
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <div class="page1">
        @Html.Raw(Ajax.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                CssClass = ""
            },
            new AjaxOptions
            {
                UpdateTargetId = "grid-list",
                OnBegin = "beginPaging",
                OnSuccess = "successPaging",
                OnFailure = "failurePaging"
            }, new { controller = "Admin", action = "CompanyAccountLowBalance", Companyname = ViewData["Companyname"], CPersonName = ViewData["CPersonName"], mobile_no = ViewData["mobile_no"], salesPersonID = ViewData["salesPersonID"] }))

        <div class="well">
            Showing <span class="badge bg-color-greenLight">@Model.ItemStart</span> to <span class="badge bg-color-redLight">@Model.ItemEnd</span>
            of <span class="badge bg-color-blueLight">@Model.TotalItemCount</span> entries
        </div>
    </div>
}
else
{
    <div style="width: 100%; text-align: center; padding: 10px 0px 10px 0px;">Records Not found!</div>
}


