@using MvcPaging
@model IPagedList<SI_ccp.Models.tbl_user>



@if (Model.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Mobile Number
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Created on
                </th>
                <th>
                    Status
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.first_name&nbsp;@item.last_name
                    </td>
                    <td>
                        @item.msisdn_number
                    </td>
                    <td>
                        @item.email
                    </td>
                   
                    <td>
                        @item.created_on.ToString("d")
                    </td>

                    @if (item.isactive)
                    {
                        <td>
                            Active
                        </td>
                    }
                    else
                    {
                        <td>
                            InActive
                        </td>
                    }
                    <td>
                        <a href="@Url.Action("update_user", "Company", new { id = item.id })"><img s><img src="~/img/grid/edit-icon.png" border="0" alt="Edit" /></a>
                    </td>
                    <td>
                        <a class="delete-link" href="@Url.Action("delete_user", "Company", new { id = item.id })">
                            <img src="~/img/grid/delete-icon.png" border="0" alt="Delete" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="page1">
        @Html.Raw(Ajax.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                CssClass = ""
            },
            new AjaxOptions
            {
                UpdateTargetId = "grid-list",
                OnBegin = "beginPaging",
                OnSuccess = "successPaging",
                OnFailure = "failurePaging"
            }, new { controller = "Company", action = "users", email = ViewData["email"], name = ViewData["name"], ddlstatus = ViewData["ddlstatus"], mobile_no = ViewData["mobile_no"] }))
        <div class="well">
            Showing <span class="badge bg-color-greenLight">@Model.ItemStart</span> to <span class="badge bg-color-redLight">@Model.ItemEnd</span>
            of <span class="badge bg-color-blueLight">@Model.TotalItemCount</span> entries
        </div>
    </div>
}
else
{
    <div style="width:100%; text-align:center; padding:10px 0px 10px 0px;">Records Not found!</div>
}